<header class="header-section">
  <div class="header-top">
      <div class="container">
          <div class="row">
              <div class="col-lg-2 text-center text-lg-left">
                  <!-- logo -->
                  <a href="./index.html" class="site-logo">
                      <img src="assets/img/logo1.png" alt="">
                  </a>
              </div>
              <div class="col-xl-6 col-lg-5">
                  <form class="header-search-form">
                      <input type="text" placeholder="Chercher....">
                      <button><i class="flaticon-search"></i></button>
                  </form>
              </div>
              <div class="col-xl-4 col-lg-5">
                  <div class="user-panel">
                      <div class="up-item">
                          <i class="flaticon-profile"></i>
                          <a routerLink="connexion">Mon Compte</a>

                      </div>
                      <div class="up-item">
                          <div class="shopping-card">
                              <i class="flaticon-bag"></i>
                              <span>0</span>
                          </div>

                          <a routerLink="panier">Panier</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <nav class="main-navbar">
      <div class="container">
          <!-- menu -->
          <ul class="main-menu">
              <li><a href="#">Marques</a>
                  <ul class="sub-menu">
                      <li><a href="#">Loréal</a></li>
                      <li><a href="#">Caprice</a></li>
                      <li><a href="#">Bourgeois</a></li>
                      <li><a href="#">SVR</a></li>
                      <li><a href="#">Essence</a></li>
                  </ul>
              </li>
              <li><a href="#">Ongles</a></li>
              <li><a href="#">lèvres</a></li>
              <li><a href="#">Yeux</a></li>
              <li><a href="#">Teinte</a></li>
              <li><a href="#">Soin</a></li>
              <li><a href="#">Cheveux</a></li>
              <li><a href="#">Promos</a></li>




          </ul>

      </div>
  </nav>

</header>
