<section class="footer-section">
  <div class="container">
      <div class="footer-logo text-center">
          <a href="index.html"><img src="./assets/img/logo-light.png" alt=""></a>
      </div>
      <div class="row">
          <div class="col-lg-3 col-sm-6">
              <div class="footer-widget about-widget">
                  <h2>Apropos</h2>
                  <p>Divisima : Vente de maquillage en ligne
                    Politique de vente
                    Confidentialité
                    Notre service client |Divisima Tunisie
                    sitemap</p>
                      <h2>CARTES ACCEPTÉES</h2>
                  <img src="/assets/img/cards.png" alt="">
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="footer-widget about-widget">
                  <h2>Votre compte</h2>
                  <ul>
                      <li><a href="">Informations personnelles</a></li>
                      <li><a href="">Commandes</a></li>
                      <li><a href="">Avoirs</a></li>
                      <li><a href="">Adresses</a></li>
                      <li><a href="">Bons de réduction</a></li>
                      <li><a href="">My Loyalty points</a></li>
                  </ul>

              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="footer-widget about-widget">
                  <h2>SERVICE CLIENT</h2>
                  <div class="fw-latest-post-widget">
                      <div class="lp-item">
                          <div class="con-info">

                              <p>(+216) 21 161 000</p>
                          </div>
                          <h2>HORAIRE </h2>
                          <div class="con-info">

                              <p>Lundi - Vendredi : 8h - 13h / 14h00 - 17h</p>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="footer-widget contact-widget">
                  <h2>INFORMATIONS</h2>
                  <div class="con-info">
                      <span>C.</span>
                      <p>Centre Le Millénium</p>
                  </div>
                  <div class="con-info">
                      <span>A.</span>
                      <p>Bureau B-7, 1e Étage,
                        2046 Sidi Daoud, Sidi DaoudTunisie </p>
                  </div>
                  <div class="con-info">
                      <span>T.</span>
                      <p>+21 161 000</p>
                  </div>
                  <div class="con-info">
                      <span>E.</span>
                      <p>Info@cosmeticelif.tn</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="social-links-warp">
      <div class="container">
          <div class="social-links">
              <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
              <a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
              <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
              <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
              <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
              <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
              <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
          </div>

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

      </div>
  </div>
</section>
