<app-header></app-header>
<!-- Page info -->
<div class="page-top-info">
  <div class="container">
    <h4>Category PAge</h4>
    <div class="site-pagination">
      <a href="">Home</a> /
      <a href="">Shop</a>
    </div>
  </div>
</div>
<!-- Page info end -->


<!-- product section -->
<section class="product-section">
  <div class="container">
    <div class="back-link">
      <a href="./category.html"> &lt;&lt; Routeur</a>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="product-pic-zoom">
          <img class="product-big-img" src="assets/img/single-product/n1.jpg" alt="">
        </div>
        <div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
          <div class="product-thumbs-track">
            <div class="pt active" data-imgbigurl="assets/img/single-product/n2.jpg"><img src="assets/img/single-product/n2.jpg" alt=""></div>
            <div class="pt" data-imgbigurl="assets/img/single-product/n3.jpg"><img src="assets/img/single-product/n3.jpg" alt=""></div>
            <div class="pt" data-imgbigurl="assets/img/single-product/n4.jpg"><img src="assets/img/single-product/n4.jpg" alt=""></div>
            <div class="pt" data-imgbigurl="assets/img/single-product/n5.jpg"><img src="assets/img/single-product/n5.jpg" alt=""></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 product-details">
        <h2 class="p-title">REVOLUTION<br>
          PALETTE FARD À PAUPIÈRE "UNCONDITIONAL LOVE"</h2>
        <h3 class="p-price">39.00DT</h3>
        <h4 class="p-stock">Disponible: <span>En stock</span></h4>
        <div class="p-rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o fa-fade"></i>
        </div>

        <div class="quantity">
          <p>QUANTITÉ</p>
                      <div class="pro-qty"><input type="text" value="1"></div>
                  </div>
        <a href="#" class="site-btn" >Ajouter au panier</a>
        <div id="accordion" class="accordion-area">
          <div class="panel">
            <div class="panel-header" id="headingOne">
              <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">information</button>
            </div>
            <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="panel-body">
                <p>La palette de fards à paupières Forever Flawless "Unconditional Love" de Revolution propose 18 fards à paupières mats et scintillants dans un luxueux emballage d'aspect marbré. </p>
                <p>La sélection de couleurs de la palette va de "Love Letter", un rouge fort, à "Movie", un violet à couper le souffle, en passant par "Platonic", un argent radieux. L'or scintillant et les tons chauds mats sont également représentés dans la palette. En raison de la diversité des couleurs fortement pigmentées, un nombre infini de combinaisons et de looks sont possibles.</p>

              </div>
            </div>
          </div>

          <div class="panel">
            <div class="panel-header" id="headingThree">
              <button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Expédition & retours</button>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="panel-body">
                <h4>Retours sous 7 jours</h4>
                <p>Paiement à la livraison disponible<br>Livraison à domicile <span>3 - 4 jour</span></p>
                <p>Gagnez 4 points de fidélité transformable en bon de réduction de 2,000 TND lors de votre prochain acha</p>
              </div>
            </div>
          </div>
        </div>
        <div class="social-sharing">
          <a href=""><i class="fa fa-google-plus"></i></a>
          <a href=""><i class="fa fa-pinterest"></i></a>
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product section end -->

<!-- RELATED PRODUCTS section -->
<section class="related-product-section">
  <div class="container">
    <div class="section-title">
      <h2>PRODUITS CONNEXES</h2>
    </div>
    <div class="product-slider owl-carousel">
      <div class="product-item">
        <div class="pi-pic">
          <img src="assets/img/product/13.jpg" alt="">
          <div class="pi-links">
            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
          </div>
        </div>
        <div class="pi-text">
          <h6>39,900 TND</h6>
          <p>PINCEAU FACE DUO FOND </p>
        </div>
      </div>
      <div class="product-item">
        <div class="pi-pic">
          <div class="tag-new">New</div>
          <img src="assets/img/product/14.jpg" alt="">
          <div class="pi-links">
            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
          </div>
        </div>
        <div class="pi-text">
          <h6>32,900 TND</h6>
          <p>PINCEAU COMPLEXION</p>
        </div>
      </div>
      <div class="product-item">
        <div class="pi-pic">
          <img src="assets/img/product/15.jpg" alt="">
          <div class="pi-links">
            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
          </div>
        </div>
        <div class="pi-text">
          <h6>30,900 TND</h6>
          <p>PINCEAU FACE POWDER </p>
        </div>
      </div>
      <div class="product-item">
          <div class="pi-pic">
            <img src="assets/img/product/16.jpg" alt="">
            <div class="pi-links">
              <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
              <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6>19,900 TND</h6>
            <p>PINCEAU MINI FACE BRUSH</p>
          </div>
        </div>
      <div class="product-item">
        <div class="pi-pic">
          <img src="assets/img/product/17.jpg" alt="">
          <div class="pi-links">
            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
          </div>
        </div>
        <div class="pi-text">
          <h6>29,900 TND</h6>
          <p>PINCEAU POWDER BRUSH</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- RELATED PRODUCTS section end -->
<app-footer></app-footer>
